@model IEnumerable<Visma_Library_2022.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
    <div class="card-deck four-col">
            <div class="card col-sm-3" >
              <img class="card-img-top" src="@Html.Raw(item.Image)" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Author</p>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-dark">Details</button></a>
              </div>
            </div>
    </div>
}
